<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        {% if request.session.user %}
            <h1> 입력된 계정 정보 </h1>
            <p>Email: {{ request.session.user }}</p> 
            <p>password: {{ pwd }}</p> 
            <p><input type='button' value='회원목록'  onclick="location.href='{{accounts}}' ">
            <input type='button' value='로그아웃'  onclick="location.href='{{logout}}' ">
        {% else %}
            <h1>로그인 / 회원가입을 선택해 주세요</h1>
            <p>안녕하세요
            <p><input type='button' value='ORM-로그인'  onclick="location.href='{{login}}' ">
            <input type='button' value='Not injection-로그인'  onclick="location.href='{{login2}}' ">
            <input type='button' value='injection-로그인'  onclick="location.href='{{login3}}' ">
            <input type='button' value='회원가입'  onclick="location.href='{{register}}' ">
        {% endif %}
    </body>
</html>